.button {
	font-family: var(--page-second-font, "PressStart2P", fantasy);
	font-weight: 400;
	border: 2px solid var(--border-color, #00cc14);
	font-size: 14px;
	cursor: pointer;
	position: relative;
	transition: var(--timing, 0.3s);
	transition-timing-function: var(--transition, ease);

	&::before {
		background-color: var(--button-scale-color);
		content: "";
		position: absolute;
		inset: 0;
		transition: transform 0.5s ease-in-out;
		transform: scaleX(0);
		transform-origin: left;
		z-index: 1;
	}

	&:hover::before {
		transform: scaleX(1);
	}

	&__save {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		flex-direction: column;
		padding: 15px 20px;
		background-color: var(--background-color, #000);
		
		&:focus {
			outline: none;
		}

		&:focus-visible {
			box-shadow: 2px 2px 0 2px currentColor;
		}
	}

	&__save-icon {
		color: var(--btn-text-color);
		block-size: 28px;
		inline-size: 28px;
		position: relative;
		z-index: 2;
		mix-blend-mode: difference;
	}

	&__text {
		color: var(--btn-text-color);
		position: relative;
		z-index: 2;
		mix-blend-mode: difference;
	}
}

@media (width > 375px) {
	.button__save {
		flex-direction: row;
	}
}
