.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-color, #000);
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--page-main-font, 'Inter', sans-serif);
    font-weight: var(--page-main-weight, 400);
    color: var(--text-color, #00CC14);
  }
}
