.page {
	min-inline-size: 320px;
	min-block-size: 100dvb;
	background-color: var(--background-color, #000);
	background-image: var(--background-cover), none;
	background-size: cover;
	background-attachment: fixed;
	font-family: var(--page-main-font, "Inter", sans-serif);
	font-variation-settings:'wght' var(--page-main-weight);
	color: var(--text-color, #00cc14);
	max-inline-size: 696px;
	margin-inline: auto;
}

.content {
	display: grid;
	justify-items: center;
	gap: 50px;
	padding-block-end: 100px;
}

.cover {
	position: relative;
	border-bottom: 2px solid var(--border-color, #00cc14);
}

// Filters

.pic-grayscale {
	filter: grayscale(50%);
}

.pic-saturate {
	filter: saturate(50%);
}

.pic-mix {
	filter: sepia(1) contrast(2) brightness(200%);
}

.pic-invert {
	filter: invert(0.4);
}

.pic-sepia {
	filter: sepia(80%);
}

.pic-blur {
	filter: blur(0.15rem);
}

.pic-hue-rotate {
	filter: hue-rotate(-90deg);
}
