.card {
	border: 2px solid var(--border-color, #00cc14);
	background: var(--background-color, #000);

	&__buttons {
		display: flex;
		justify-content: flex-end;
		gap: 6px;
		margin: 25px;
	}

	&__icon-button {
		background-color: transparent;
		border: none;
		align-self: end;

		position: relative;
		border: none;
		transition: outline var(--timing, 0.3s);
		transition-timing-function: var(--transition, ease);
		cursor: pointer;
		inline-size: 43px;
	}

	&__like-button {
		background-color: transparent;
		padding: 9px 17px;
	}

	&__pic {
		display: block;
		object-fit: cover;
		object-position: center;
		block-size: 100%;
		inline-size: 100%;
		border-block-end: 2px solid var(--border-color, #00cc14);
	}

	&__text {
		display: grid;
		gap: 27px;
		margin: 25px 30px 0 25px;
	}

	&__title {
		font-size: 18px;
		font-variation-settings: "wght" var(--page-header-weight, 785);
		border-block-end: 2px solid var(--border-color, #00cc14);
		padding: 4px 10px;
	}

	&__list {
		display: grid;
		gap: 50px;
	}

	&__water-mark {
		position: absolute;
		z-index: 1;
		opacity: 0.5;
		color: var(--text-color, #000000);
		font-family: var(--page-second-font, "PressStart2P", sans-serif);
		font-size: 14px;
		line-height: normal;
		text-transform: uppercase;
		right: 13px;
		top: 24px;
	}
}
