.theme-menu__button {
  font-size: 14px;
  border: none;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
}

.theme-menu__button:active {
}
