.dialog {
	inset: 0;
	font-family: var(--page-second-font, "PressStart2P", fantasy);
	border: 2px solid var(--border-color, #00cc14);
	font-size: 14px;
	background-color: var(--background-color, #000);
	color: var(--text-color, #00cc14);
	transition: opacity 0.3s ease-in-out;
	text-transform: uppercase;
	padding: 30px 40px;
	max-inline-size: 341px;
	display: grid;
	grid-template-rows: repeat(2, min-content);
	gap: 30px;

	&__content {
		display: grid;
		grid-template-columns: 0fr 1fr;
		gap: 20px;
		line-height: 21px;
	}

	&:not([open]) {
		pointer-events: none;
		opacity: 0;
	}

	&::backdrop {
		background-color: rgb(0 0 0 / 75%);
	}

	&__icon {
		block-size: 39px;
		inline-size: 39px;
		align-self: center;
	}

	&__button {
		background-color: transparent;
		inline-size: 100%;
		padding: 10.5px 12.5px;
		text-transform: uppercase;

		&:focus {
			outline: none;
		}

		&:focus-visible {
			box-shadow: 2px 2px currentColor;
		}
	}
}

@media (width > 375px) {
	.dialog {
		max-inline-size: 357px;
		padding: 28px 30px;
	}
}
