dialog.dialog#dialog
  .dialog__content
    svg.dialog__icon(viewBox="0 0 29 28")
      use(href="svg/floppy.svg#floppy")
    p Вставьте дискету,чтобы продолжить
  form(method="dialog")
    button.button.dialog__button(type="submit")
      span.button__text ок
