.theme-menu {
	&__list {
		display: grid;
		justify-content: center;
		margin-block: 25px;
		gap: 14px;
	}

	&__button {
		border: none;
		background: transparent;
		text-transform: uppercase;
		position: relative;
		cursor: pointer;

		&:disabled {
			cursor: default;
			opacity: 0.6;
		}

		&:disabled::before {
			animation: triangle 0.5s ease-in-out infinite alternate;
			color: var(--theme-light-accent-transparent);
			content: "▶";
			inset-inline-start: -20px;
			position: absolute;
			opacity: 0.6;
		}

		&:hover {
			opacity: 0.6;
		}

		&:focus {
			opacity: 0.6;
			outline: none;
		}
	}
}
