/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {

  /* colors  */
--green-color: #00CC14;
--white-color: #FFF;
--black-color: #000;

/* text  */
--page-main-font: 'Inter', sans-serif;
--page-main-weight: 400;
--dark-theme-text-weight: 465;
--dark-theme-title-weight: 785;

/* text-color  */
--text-color: var(--green-color, #00CC14);

/* background  */
--background-color: var(--black-color, #000);


}